<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>Budget Buddy</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
		<!-- Include jQuery Roadmap CSS -->
		<link href="./css/jquery.roadmap.min.css" rel="stylesheet" type="text/css" />

		{{!-- Jquery library with additional jqueryui libraries --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		{{!-- <script src="/assets/js/budget.js"></script> --}}
		{{!-- Firebase Api --}}
		<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
		<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

	</head>
	<body>
		{{{ body }}}
			<!-- The core Firebase JS SDK is always required and must be listed first -->
			<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
			<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
			<!-- TODO: Add SDKs for Firebase products that you want to use
				https://firebase.google.com/docs/web/setup#available-libraries -->
			<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
			<script defer src = "/js/userAuth.js"></script>		
	</body>

</html>
