<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Budget Buddy</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/budget.js"></script>
	</head>
	<body>
		<h1 id = "header">Budget Budy</h1>

		<p id = "intro">Welcome to Budget Buddy, the website the economic planner that
			 helps you keep track of all your day to day purchases. To use the application 
			 you simply just insert any upcoming purchases in the interface below and check 
			 them off once you have completed them.  </p>
		{{{ body }}}
	</body>
</html>
