<nav>
    <div class="nav-wrapper green">

      <a href="/user/home" class="brand-logo"><img src="../images/BB_logo_wht.png" id="nav-logo" alt="" width="200" height="auto"></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/calendar">History</a></li>
        <li>|</li>
        <li><a href="/user/home">About</a></li>
        <li>|</li>
        <li><a href="/user/sign-out">Log Out</a></li>
      </ul>
    </div>
</nav>
<div id="my-roadmap" data-id="{{this.id}}"></div>


   <!-- Include jQuery Roadmap Plugin -->
<script src="./js/jquery.roadmap.js" type="text/javascript"></script>
<script defer src="./js/calendar.js"></script>

