<nav>
    <div class="nav-wrapper green">
      <a href="#" class="brand-logo"><img src="../images/BB_logo_wht.png" id="nav-logo" alt="" width="300" height="auto"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Account</a></li>
        <li>|</li>
        <li><a href="#">About</a></li>
        <li>|</li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
  </nav>

<h1>{{id}}</h1>

<main class="container">
    <!-- Page Content goes here -->
    <div class="row">
        <div class="col s12 m6">
            <div class="card green">
                <div class="card-content white-text">
                    <span class="card-title">Orders</span>
                    
                </div>
                <div class="card-action">
                    <button class="waves-effect waves-light btn white modal-trigger blue-text text-darken-2" data-target="modal1">Modal Trigger</button>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card green">
                <div class="card-content white-text">
                    <span class="card-title">Categories</span>
                </div>   
                <div class="card-action">
                    <button class="waves-effect waves-light btn white modal-trigger blue-text text-darken-2" data-target="modal2">Modal Trigger</button>
                </div>
            </div>
        </div>
    </div>
</main>

{{!-- <!-- Modal Trigger -->
<button class="waves-effect waves-light btn modal-trigger" data-target="modal1">Modal</button> --}}

<!-- Items modal -->
<div id="modal1" class="modal">
<div class="modal-content">
    <h4>Add an Item</h4>

    <div class="row">
    <form class="col s12">
        <div class="row modal-form-row">
        <div class="input-field col s12">
            <input id="item-name" type="text" class="validate">
            <label for="item-name">Item name:</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="item-price" type="text" class="validate">
            <label for="item-price">Price:</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="item-cat" type="text" class="validate">
            <label for="item-cat">Category:</label>
        </div>
        </div>
    </form>
    </div>
</div>
<div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
</div>
</div>

<!-- Categories modal -->
<div id="modal2" class="modal">
<div class="modal-content">
    <h4>Add an Item</h4>

    <div class="row">
    <form class="col s12">
        <div class="row modal-form-row">
        <div class="input-field col s12">
            <input id="image_url" type="text" class="validate">
            <label for="image_url">Image URL</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="image_title" type="text" class="validate">
            <label for="image_title">Title</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <textarea id="image_description" type="text" class="materialize-textarea validate"></textarea>
            <label for="image_description">Description</label>
        </div>
        </div>
    </form>
    </div>
</div>
<div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
</div>
</div>







<script src="/js/modals.js"></script>