<h1 id = "header">Budget Budy</h1>

		<p id = "intro">Welcome to Budget Buddy, the website the economic planner that
			 helps you keep track of all your day to day purchases. To use the application 
			 you simply just insert any upcoming purchases in the interface below and check 
			 them off once you have completed them.  </p>

			 <!-- The surrounding HTML is left untouched by FirebaseUI.
     Your app may use that space for branding, controls and other customizations.-->
		{{!-- <div id="firebaseui-auth-container"></div>
		<div id="loader">Loading...</div> --}}
		<div id = "sign-in">
			<form id ="sign-in-form">
	            <h2>Sign In</h2>
                <h3>Email</h3>
				<input type = "text" id ="userEmail" placeholder="Email" class = "form-text-field">
                <br>
                <h3>Password</h3>
                <br>
				<input type = "text" id ="userPassword" placeholder="Password" class = "form-text-field">
				<button type = "submit" id = "signInSubmit">Enter</button>
			</form>
            <p>Don't have an account? <a href ="/landing/sign-up" >Click Here</a></p>
		</div>