<nav>
    <div class="nav-wrapper green">
      <a href="/user/home" class="brand-logo"><img src="../images/BB_logo_wht.png" id="nav-logo" alt="" width="200" height="auto"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{!-- <li><a href="#">Account</a></li>
        <li>|</li> --}}
        <li><a href="/">About</a></li>
        
        {{!-- <li><a href="#">Settings</a></li> --}}

      </ul>
    </div>
</nav>

<main class="container main-content">
	<div class="row light-green lighten-4" id="card-greet">

      <div class="col s12 m6">
        {{!-- <h2 id = "header">Budget Buddy</h2> --}}
		<img id="main-img" class="responsive-img" src="../images/BudgetBuddy_01.png" alt="" />

		<p id = "intro">Welcome to Budget Buddy, the economic planner that
			 helps you keep track of all your day to day purchases. To use the application 
			 you simply insert any upcoming purchases into the interface and check 
			 them off once you have completed them.
		</p>
      </div>
	  
	  {{!-- <div class="col s12 m1"></div> --}}

      <div class="col s12 m6">
        <div id = "sign-in">
			<div class="row">
				<div class="col s12 m12">
					<div class="card-panel green" id="si-panel">
						<form id ="sign-in-form">
							<h3 class="light-green-text text-lighten-4">Sign In</h3>
							<h5 class="white-text">Email:</h5>
							<input type = "text" id ="userEmail" placeholder="Email" class = "form-text-field white">
							<br>
							<h5 class="white-text">Password:</h5>
							<input type = "text" id ="userPassword" placeholder="Password" class = "form-text-field white">
							<button type = "submit" class = "waves-effect waves-light btn white modal-trigger blue-text text-darken-2" id = "signInSubmit">Enter</button>
						</form>
						
					</div>
					<p>Don't have an account? <a href ="/sign-up" >Click Here</a></p>
				</div>
  			</div>
		</div>
      </div>

    </div>
    
</main>


